*{
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: #333333;
}

input, textarea, button {
  margin: 5px;
  resize: none;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#header{
  color: white;
  font-size: 3em;
  padding: 0.2em;
}
